name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # 升级到 v4
      
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          command: buildozer android debug
          buildozer_version: stable
          
      - name: Upload Artifact
        # 修复核心报错：必须升级到 v4
        uses: actions/upload-artifact@v4 
        with:
          name: stock-pro-app
          path: bin/*.apk
